
/* body{
filter: blur(10px);
} */
.text1{
    /* width: 700px;
    height: 700px;
    border: 5px none whitesmoke;
    align-self: center; */
    /* filter: blur(10px); */
}
.byby{
    font-size: 35px;
    font-family:'Nunito', sans-serif; 
    color: grey; 
    position: relative;
    left: 350px; 
}
.hey{
    color: gray;
    font-size: 32px;
}
i{
    color: red;
    font-size: 35px;
}
.text2{
    padding: 20px 530px 50px 0px;
    display: inline-block;
    margin-left: 330px;
    margin-top: 170px;
}
#continer{
    margin-left: 330px;
    display: flex;
}
.box{
    background-color:white;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: 8px 8px 10px rgb(151, 144, 144);
    font-size: 25px;
    text-align: center;
    color: rgb(231, 118, 89);
    width: 200px;
    height: 300px;
    padding-left: 25px;
    margin: 20px;
}
.text{
    background-color: white;
    color: red;
    padding: 5px 120px 5px 120px;
    border: 4px solid red;
    border-radius: 15px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    position: relative;
    right: 50px;
    bottom: 250px;
    z-index: 2;
}button{
    padding: 3px 15px 3px 15px;
    border: 3px solid rgb(216, 78, 78);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(119, 118, 118);
}
span{
    font-size: 25px;
}
