hr{
    display: inline-block;
    width: 200px;
}
h1{
    margin: 0px;
    display: inline-block;
    padding: 0px 30px 0px 30px;
    font-family: sans-serif;
}
.text1{
    margin-left: 350px;
    margin-top: 50px;
}
.box1{
    background-color:white;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: 8px 8px 10px rgb(151, 144, 144);
    font-size: 25px;
    text-align: center;
    color: rgb(231, 118, 89);
    width: 200px;
    height: 300px;
    padding-left: 35px;
    margin-top: 80px;
    margin-left: 210px;
}
a{
    color: red;
    position: relative;
    left: 290px;
    top: 100px;
}
h2{
    padding-left: 15px;
    color: rgb(119, 117, 117);
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    left: 310px;
    top: 50px;
}
.text{
    background-color: white;
    color: red;
    padding: 5px 120px 5px 120px;
    border: 4px solid red;
    border-radius: 15px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    position: relative;
    right: 50px;
    bottom: 250px;
    z-index: 2;
}
button{
    padding: 3px 15px 3px 15px;
    border: 3px solid rgb(216, 78, 78);
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(119, 118, 118);
}
span{
    font-size: 25px;
}